body h1,.sub{
	background-color: black;
	color:white;
	text-align: center;
}
body h2{
	background-color: coral;
}
.div1{
	width:60%;
	float:left;
	font-family: Ariel helvetica sans-serif;
	font-size: 15px;
}
.div2{
	width: 38%;
	float:right;
	font-size: 15px;
}
.footer{
	text-align: center;
	bottom: 0;
	width: 100%;
	position:absolute;
	background-color: black;
	color:coral;
}
label{
	width:180px;
	display: inline-block;
}
body{
	height: 100%;
}



